@CHARSET "UTF-8";

.user-login {
	border: 1px solid #b4bfaa;
	width: 100%;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	background: #fff;
	margin-top: 30px;
	width: 400px;
	margin: 0 auto;
}

.btn-default:focus, .btn-default:hover {
	background-color: #72351a;
	background-position: 0 -15px;
	color: #fff;
}

.my-login-text {
	text-align: center;
	font-size: xx-large;
}

.form-control {
	padding: 10px !important;
	border-radius: 0px !important;
	font-size: 17px;
	height: 45px;
	margin-top: 10px;
	margin-bottom: 30px;
	border: solid 1px #b4bfaa !important;
}

input:-webkit-autofill {
	background-color: #fff !important
}

.login .my-login-text {
	margin-bottom: 20px;
}

.button {
	margin-top: 0px;
	width: 150px;
	padding: 12px;
	border-radius: 0px;
	font-size: 18px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill,
	textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
	select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus
	{
	border: 1px solid green;
	-webkit-text-fill-color: green;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
	transition: background-color 5000s ease-in-out 0s;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: table;
}

body {
	display: table-cell;
	vertical-align: middle;
}

.form-block {
	margin: auto;
}

.my-login-text img {
	width: 110px;
}