@CHARSET "UTF-8";

.header {
	width: 100%;
	height: 81px;
	background: seagreen;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	margin: 0px;
	position: absolute;
	text-size-adjust: initial;
	color: #ffffff;
}

.footer {
	width: 100%;
	height: 60px;
	background: black;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.form_div {
	width: 52%;
	/* height: 427px; */
	/* position: relative;
	top: 81px;
	margin: 10px;
	text-align: center; */
	margin-top: 20px;
	display: inline-block;
	max-width: 400px;
	border: solid 1px #e8e7e7;
	padding: 30px;
	margin-bottom: 40px;
	width: 100%;
	background: #fff
}

.advertisement_form_div {
	
}

.table-wrapper {
	max-height: 400px;
	overflow-y: auto;
}

.table-wrapper table, .table-wrapper table tr th, .table-wrapper table tr td
	{
	text-align: center;
}

.p-t-30 {
	padding-top: 30px;
}

.text-center-th th {
	text-align: center;
}